<h3>I have not understood what I'm doing yet</h3>
    <ul>
        <li>I have edited the directory in the settings.py file</li>
        <li>The name attribut is useful when you will b caaling the link in the html file using url 'name'</li>
        <li></li>
        <li></li>
    </ul>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, dolore eveniet? Recusandae, consequuntur natus distinctio ipsa possimus nam. Ad eum dolores repellat eos enim delectus nostrum ut exercitationem labore natus.
    </p>