{% extends "base.html" %}

{% block content%}
    <div class = 'container pt-4 center_content'>
        {% for post in object_list%}
            <div class="card col-6 center mt-4">
            <div class="card-header">
                <h5>
                        {{ post.title}}
                </h5>
            </div>
            <div class="card-body">
                <p class="card-text">{{post.body|truncatechars:50}}</p>
                <a href="{% url 'view_more' post.pk %}" class="btn btn-outline-success btn-sm ">Read more >>></a>
            </div>
            </div>

        {%endfor%}

    </div>

    <div>
        <a href = '{% url "new_post" %}'>
            Create new Post        
        </a>
    </div>
{% endblock%}
